.table_row_green{
    background: linear-gradient(to right,rgba(0,255,0,0.5),white);
}
.table_row_blue{
    background: linear-gradient(to right,rgba(125,255,0,0.5),white);
}
.table_row_yellow{
    background: linear-gradient(to right,rgba(255,255,0,0.5),white);
}
.table_row_orange{
    background: linear-gradient(to right,rgba(255,125,0,0.5),white);
}
.table_row_red{
    background: linear-gradient(to right,rgba(255,0,0,0.5),white);
}
