.table_row_green{
    background: limegreen;
}
.table_row_blue{
    background: dodgerblue;
}
.table_row_yellow{
    background: yellow;
}
.table_row_orange{
    background: orange;
}
.table_row_red{
    background: darkred;
}
